:root {
  --primary-bg: white;
  --primary-text: #4731D3;
  --accent-color: #4731D3;
  --secondary-color: #CBF281;
  --footer-bg: #F9F9F9;
  --footer-text: #120B39;
  --footer-link: #4731D3;
  --footer-heading: inherit;
}

.dark-mode {
  --primary-bg: white;
  --primary-text: #CBF281;
  --accent-color: #171043;
  --secondary-color: #1A210B;
  --footer-bg: #1A1A2E;
  --footer-text: #EAEAEA;
  --footer-link: #CBF281;
  --footer-heading: #CBF281;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.main-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  max-width: 1440px;
  padding: 2rem 0;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .hero-content, .skill-boxes, .projects-container, .profile-content, .footer-content {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .hero-content, .skill-boxes, .projects-container, .profile-content, .footer-content {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .hero-content, .skill-boxes, .projects-container, .profile-content, .footer-content {
    padding: 0 15px;
  }
}
